<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBapMo0zC8nJw7wkochdEVkObMD6B1ui5s</string>
	<key>GCM_SENDER_ID</key>
	<string>58146578159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDog</string>
	<key>PROJECT_ID</key>
	<string>dog-sitting-8cdbd</string>
	<key>STORAGE_BUCKET</key>
	<string>dog-sitting-8cdbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58146578159:ios:b9ab166a41018154b9451a</string>
</dict>
</plist>